@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

body {
    font-family: "Rubik", sans-serif;
    background-color: #ffe2e6;
    text-align: center;
    font-size: 20px;
    padding-top: 3rem;
    margin: 5%;
    color: #333; 
    animation: fade 2s cubic-bezier(0.075, 0.82, 0.165, 1) forwards;
}

.menu > .menu-bars {
    width: 35px;
    height: 5px;
    background-color: #fff;
    margin: 6px 0;
}

.menu {
    float: right;
    margin-right: 20px;
    background-color: #ffffff00;
    border: none;
}

#mode-toggle {
    background-color: #fff;
    color: #000;
    box-shadow: 2px 2px 2px #888;
    padding: 0.5em;
    font-size: 16px;
    position: absolute;
    left: 0;
    margin-left: 1rem;
    border-radius: 5px;
    font-family: 'Rubik', 'sans-serif';
    z-index: 1001;
}

a {
    text-decoration: none;
    color: #fff;
}

.info a {
    text-decoration: underline;
}

img .icon{
    size: 50px;
}

img, video {
    display: block;
    margin: 20px auto;
    max-width: 80%;
    border-radius: 8px;
    border: 5px solid #fff;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1),
                0 1px 3px rgba(0,0,0,0.08);
    animation: slideFromLeft 3s cubic-bezier(0.075, 0.82, 0.165, 1) forwards;
}

h1, h2, h3, h4 {
    animation: slideFromRight 3s cubic-bezier(0.075, 0.82, 0.165, 1) forwards;
}

.gallery {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    margin: 0.5rem;
    padding: 1rem;
}

h1, h2, h3, h4 {
    text-align: center;
    margin: 1.5rem 0;
}

h1 {
    font-size: 40px;
    font-weight: 700;
    color: #333;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.2);
    margin: 1.5rem 0;
    text-transform: uppercase;
}

h2 {
    font-size: 36px;
    font-weight: 500;
    color: #d9534f;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.15);
    margin: 1.5rem 0;
    text-transform: capitalize;
}

h3 {
    font-size: 20px;
    background-color: #fff;
    text-align: center;
    font-weight: 300;
    color: #d9534f;
    padding: 10px;
    border-radius: 5px;
    border: #333 solid 2px;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.1);
    margin: 1.5rem 0;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2); 
}

h4 {
    width: fit-content;
    text-align: center;
    margin: auto;
    color: #fff;
    padding: 5px;
}

.info {
    padding: 20px;
    background-color: #8a312e;
    border-radius: 15px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1); 
    width: fit-content;
    margin: auto;
    margin-bottom: 20px;
}

nav {
    width: 100%;
    background-color: #7e4049; 
    padding: 1rem 0; 
    box-shadow: 0 2px 4px rgba(0,0,0,0.1); 
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}

nav > ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.show {
    display: flex;
}

nav a {
    font-size: 16x; 
    padding: 0.5rem 1rem;
}

nav > ul > li {
    padding: 0.5rem 0rem;
    color: #fff;
    font-size: 18px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

nav > ul > li.active {
    background-color: #fff;
    text-decoration: bold;
    color: #333;
    border-radius: 5px;
}

nav > ul > li.active > a {
    color: #333;
}


nav > ul > li:hover {
    text-decoration: underline;
}

ul {
    padding-left: 0;
    list-style-type:disc;
}
ol {
    list-style-type: decimal;
}

li {
    text-align: left;
    margin-top: 10px;
    margin-left: 10px;
}

.skip-to-main {
    position: absolute;
    top: -100px;
    left:   0;
    padding: 1rem;
    color: #fff;
    background-color: #062bff;
    border-radius: 0 0 5px 5px;
    transition: top 0.3s ease;
    z-index: 1000;
}


.skip-to-main:focus {
    top: 0;
}

a.skip-to-main:link, a.skip-to-main:visited {
    color: #fff;
}


/* Tablet Style */
@media screen and (min-width: 650px) {
    body {
        font-size: 23px;
        padding: 4rem 3%; 
        text-align: left;
    }
    
    #mode-toggle {
        position: absolute;
        right: 1rem;
        left: auto;
    }

    nav {
        padding: 1.5rem 0;
    }

    nav a {
        font-size: 22px; 
    }

    nav > ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: row;
        justify-content: start;
        align-items: center;
    }

    .menu {
        visibility: hidden;
    }
    img, video {
        max-width: 85%;
        margin: 30px auto;
    }

    .gallery {
        grid-template-columns: repeat(2, 1fr); 
        padding: 2rem; 
    }

    .gallery > img:hover, .gallery > video:hover {
        transform: scale(1.10); 
    }

    h1, h2, h3 {
        padding: 0 5%;
    }

    h1 {
        font-size: 38px; 
    }

    h2 {
        font-size: 34px;
    }

    h3 {
        font-size: 26px; 
        padding: 15px; 
        margin: 2rem auto; 
        width: fit-content; 
    }

    ul, li {
        margin-left: 20px; 
    }

    img, video {
        transition: transform .2s;
    }

}


/* Desktop Style */
@media screen and (min-width: 1000px) {
    h1, h2, h3 {
        padding: 0 5%;
    }

    h1 {
        font-size: 42px; 
    }

    h2 {
        font-size: 38px;
    }

    h3 {
        font-size: 30px; 
        padding: 19px; 
    }

    .gallery {
        grid-template-columns: repeat(3, 1fr); 
        padding: 2rem; 
    }

    nav > ul {
        justify-content: center;
    }

}

/* Dark Mode Styles */
.dark-mode {
    background-color: #333;
    color: #fff;
}
    
.dark-mode a {
    color: #333;
}
    
.dark-mode .menu > .menu-bars {
    background-color: #333;
}
.dark-mode img, .dark-mode video {
    border: 5px solid #999;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1),
                0 1px 3px rgba(0,0,0,0.08);
}

.dark-mode #mode-toggle {
    background-color: #333;
    color: #fff;
}
    
.dark-mode h1 {
    color: #fff;
}
    
.dark-mode h2 {
    font-size: 36px;
    font-weight: 500;
    color: rgb(254, 198, 196);
    text-shadow: 1px 1px 2px rgba(0,0,0,0.15);
    margin: 1.5rem 0;
    text-transform: capitalize;
}
    
.dark-mode h3 {
    background-color: #222;
    color: rgb(254, 198, 196);
    border: #999 solid 2px;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.1);
    box-shadow: 0 2px 4px rgba(0,0,0,0.2); 
}
    
.dark-mode h4 {
    color: #333;
}
    
.dark-mode .info {
    background-color: #fcc1c9;
}
    
.dark-mode nav {
    background-color: #ffe2e6; 
}

.dark-mode nav > ul {
    list-style-type: none;
}
    
.dark-mode nav > ul > li {
    padding: 0.5rem 0.5rem;
    color: #333;
}
  
.dark-mode nav > ul > li.active {
    background-color: #333;
    text-decoration: bold;
    color: #333;
    border-radius: 5px;
}

.dark-mode nav > ul > li.active > a {
    color: #fff;
}
    
    
.dark-mode nav > ul > li:hover {
    text-decoration: underline;
}
    
.dark-mode ul {
    padding-left: 0;
    list-style-type:disc;
}
    
.dark-mode ol {
    list-style-type: decimal;
}
    
.dark-mode li {
    text-align: left;
    margin-top: 10px;
    margin-left: 10px;
}

@keyframes fade {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes slideFromLeft {
    from {
      opacity: 0;
      transform: translateX(-50px); /* Elements slide in from the left */
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
}

@keyframes slideFromRight {
    from {
      opacity: 0;
      transform: translateX(50px); /* Elements slide in from the left */
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
}

@media (prefers-reduced-motion: reduce) {
    .gallery {
        animation: none;
    }
    .skip-to-main {
        transition: none;
    }
    img, video {
        transition: none;
    }

    body, h1, h2, h3, h4 {
        animation: none;
    }
}
